{% extends  "templates/base.html" %}

{% block links %}
<li><a href="home.html">Home</a></li>
<li class ="active"><a href="about.html">About</a></li>
<li><a href="gallery.html">Gallery</a></li>
<li><a href="contact.html">Contact</a></li>

{% endblock %}

{% block body %}
<block id="aboutpage">
{% endblock %}

{% block mainstuff %}
<div class="aboutbg">
<div class="container" id="aboutbg">
	<section>
		<div class="page-header" id="gallery">
			<h2>About Me <small>Interesting facts about me</small></h2>
		</div>

		<div class="panel-group" id="accordian">
			<div class="panel panel-default">
				<div class= "panel-heading">
					<div class="panel-title">
						<a href="#collapse-1" data-toggle="collapse" data-parent="#accordian" onclick="document.body.style.backgroundImage = 'url(/static/images/sunlight.jpg)'">
							Fact one
						</a>
					</div>
					<div id="collapse-1" class="panel-collapse collapse">
						<div class="panel-body">
						Growing up in San Jose, California I was spoiled by the good weather. As such, I feel like my mood is dependent on the amount of sun there is. I'm like a solar-panel. 
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class= "panel-heading">
					<div class="panel-title">
						<a href="#collapse-2" data-toggle="collapse" data-parent="#accordian" onclick="document.body.style.backgroundImage = 'url(/static/images/nightsky.jpg)'">
							Fact two
						</a>
					</div>
					<div id="collapse-2" class="panel-collapse collapse">
						<div class="panel-body">
						As much as I like the sun, I actually like the night more. At times I would go to one of the parks with my friends and climb up on the roof of the day-care building and gaze up the stars. #deep
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class= "panel-heading">
					<div class="panel-title">
						<a href="#collapse-3" data-toggle="collapse" data-parent="#accordian" onclick="document.body.style.backgroundImage = 'url(/static/images/moutains.jpg)'">
							Fact three
						</a>
					</div>
					<div id="collapse-3" class="panel-collapse collapse">
						<div class="panel-body">
						I used to really like mountain biking. The thrill and adrenaline that goes into the rounding the bends and jumping over crevices was exhilrating. But then I crashed and broke my bike. Thus, I'm slightly traumatized at the moment.
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class= "panel-heading">
					<div class="panel-title">
						<a href="#collapse-4" data-toggle="collapse" data-parent="#accordian" onclick="document.body.style.backgroundImage = 'url(/static/images/zootopia.jpg)'">
							Fact four
						</a>
					</div>
					<div id="collapse-4" class="panel-collapse collapse">
						<div class="panel-body">
						I love movies! Like really love movies! I watched a decent amount of movies. When people go out, I stay in and watch movies. Recently I watched Zootopia and I don't care what others say, but it's on my Top 10 forsure. 
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
</div>




<!-- 	</section>
<div class="mainContent">		
	<div class="content">
		<article class="topcontent">
			<header>
				<h2><a href="#" title ="About Me">About Me</a></h2>
			</header>

			<footer>
				<p class="post-info">written by Austin</p>
			</footer>

			<content>
				<p>I'm currently a Sophomore at <a href="http://umich.edu"> the University of Michigan</a> studying Informatics and Computer Science. I am really intersted in technology and the way information shapes our lives. Born in Beijing but raised in the suburbs of San Jose, California, I appreciate good food and meritocracy. As much as I like meat, if knowledge was a vegetable, I would glady become a vegetarian.</p>
			</content>
		</article>
	</div>
</div>
 -->
{% endblock mainstuff %}



