<!-- <section>
	<div class="wrong">
  		<div class="error-text">
    		<span>404</span>
    		<p>PAGE NOT FOUND THIS SITE IS BROKEN</p>
    		<p class='hmpg'><a href='home.html' class="back">Back To Home</a></p>
  		</div>
	</div>
</section>

 -->
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset = "UTF-8">
		<title>My Website</title>
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
		<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
		<meta name ="viewport" content="width=device-width, initial-scale=1.0">
	</head>

<div class = "error">
	<div id='wrong-page'>
		<div id='error-text'>
			<span>404</span>
			<p>WRONG PAGE! GO BACK!</p><p class='hmpg'><a href='home.html' class="back">Back To Home</a></p>
		</div>
	</div>
</div>

