{% extends "templates/base.html" %}

	{% block jumbotron %}

	<section class="module parallax parallax-1">
  		<div class="container">
    		<h1>Why</h1>
  		</div>
	</section>
	
	<section class="module content">
    	<div class="container">
          <h2>First Time For Everything</h2>
          <p>What is the purpose of this website you may ask? Does there even need to be a purpose? I would assume so, but that may not always be the case. Rest assured, there is a purpose for this website. The simple answer. For a class, SI 206 to be exact. Yet, that's hardly a reason for why I spent countless hours pulling my hairs out trying to understand and code in HTML, Bootstrap, CSS, and Javascript. </p> 
          <p>No, the simple answer would not suffice as an explanation for the weeks spent doing manual and mental labor. Yet, the real reason why I would delegate so much time towards the construction, deconstruction, and reconstruction of this site is actually quite simple. <i>Why</i> not? Sure, it is difficult. Yes, I had to sacrifice some sleep and even forgo meals. But when given such a great opportunity to learn new skills and create a complete website from scratch, why wouldn't I take it? The only obstacles in my way are mental blocks and self-doubt, and quite frankly, those are not legitimate reasons for me to pass on such an occasion.</p>
          <p>So with no excuses and a mind full of aspirations, I decided to take the challenege of coding a website that is, well, essentially about me. With the help of GSI's and the Professor as well as the oh-so-handy <a href ="https://www.google.com">Google</a>, I was ready. There's always a first time for everything and as the youths of this generation say, "YOLO".</p>
      
    	</div>
    </section>

	<section class="module parallax parallax-2">
  		<div class="container">
        <h1>Rise</h1>
  		</div>	
	</section>

	<section class="module content">
    	<div class="container">
          <h2>Code Speaks Louder Than Words</h2>
          <p>Constructing a website from the ground up is definitely no easy matter, especially if you want the site to look good. Planning out what the webite should look like took a mere 20 minutes, which really got my hopes up regarding how long the project would take. Sadly, my hopes were crushed and grounded to ashes upon actually trying to write the code. I, by no means consider myself an expert in the world of computer science, but I'd like to think that I'm competant enough to learn the basics. And I am, just that the learning process can span minutes to days in terms of what I'm trying to achieve. But hey, what's a little challenge to a young eager-minded student like myself right? I wanted to <i>RISE</i> to the occasion.</p>
          <p>Like I mentioned earlier, Google wasn't my only source of knowledge. I was able to confer with GSI's and the Professor regarding how I should implement the features on my website. They were much needed guidance in my journey towards website englightment. That said, Google is definitely one of those friends you would call in the wee of hours of the night to bring you a microwaved Domino's pizza from their fridge. Very reliable and always (~95%) delivers.</p>
          <p>If one were to look at my browsing history over the few weeks I was given to do the project, a majority of the links would be <a href ="https://www.youtube.com">Youtube</a> videos, "how to" tutorials, and puppy GIF's. The first two options, with their confusing coding vocabulary and logistics, often drove me towards the brink of insanity while the third helped prevent that, just barely. All in all, it's been one hell of a ride, but I think it was worth it. But enough talking from me...</p>
        
    	</div>
    </section>

	<section class="module parallax parallax-3">
  		<div class="container">
        <h1>Enjoy</h1>
  		</div>
	</section>


	{% endblock %}


	