{% extends "templates/base.html" %}

	{% block mainstuff %}

	<!-- <div class="mainContent">
		<div class="content">
			<article class="topcontent">
				<header>
					<h2>First post</h2>
				</header>

				<footer>
					<p class="post-info">written by Austin</p>
				</footer>

				<content>
					<p>Random words Random words Random words Random words Random words Random words Random wordsRandom words Random words Random words Random words Random words Random words Random words Random words Random words Random wordsRandom words Random words Random words Random words Random words Random words Random words Random words Random wordsRandom words Random words</p>
				</content>
				
			</article>
		</div>
	</div>

 -->
	<div class="container-fluid text-center">
  		<h2>SERVICES</h2>
  		<h4>What we offer</h4>
  	<br>
  	<div class="row">
    	<div class="col-sm-4">
      		<span class="glyphicon glyphicon-off"></span>
     		<h4>POWER</h4>
    		<p>Lorem ipsum dolor sit amet..</p>
    	</div>
   		<div class="col-sm-4">
     		<span class="glyphicon glyphicon-heart"></span>
    		<h4>LOVE</h4>
    		<p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
    	<span class="glyphicon glyphicon-lock"></span>
    	<h4>JOB DONE</h4>
      	<p>Lorem ipsum dolor sit amet..</p>
    </div>
    </div>
    <br><br>
  	<div class="row">
    	<div class="col-sm-4">
     		<span class="glyphicon glyphicon-leaf"></span>
      		<h4>GREEN</h4>
      		<p>Lorem ipsum dolor sit amet..</p>
    	</div>
    <div class="col-sm-4">
    	<span class="glyphicon glyphicon-certificate"></span>
      	<h4>CERTIFIED</h4>
      	<p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
    	<span class="glyphicon glyphicon-wrench"></span>
      	<h4>HARD WORK</h4>
      	<p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
</div>
	{% endblock %}
		
	